@use 'base/mixins' as m;
@use 'base/variables' as v;

.cita{
    text-align: center;
    background-image: url(../img/bg_citas.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 5rem 0;
    background-attachment: fixed;
    &__heading{
        @include m.heading;
        color: v.$blanco;
        font-size: 6rem;
    }
    &__texto{
        max-width: 60rem;
        margin-inline: auto;
        color: v.$blanco;
        line-height: 1.8;
    }
    &__enlace{
        @include m.boton(v.$primario, v.$blanco);
        padding: 2rem 10rem;
    }
}